/* 
    Document   : Recipes CSS stylesheet
    Created on : 20.3.2018
    Author     : tomp
    Description:
        A stylesheet which can be used for styling 
        the HTML resulting from the transformation.

modified by Matej Macak 17.5.2019
*/

root { 
    display: block;
}

body, html {
	margin: 20px;
	padding: 0;
	color: #050709;
	font-family: arial, tahoma, verdana;
	background: #fefefe;
}

.navigation {
	height: 100%;
  	width: 300px;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #233B90;
  	overflow-x: hidden;
  	padding-top: 20px;
}

.navigation a {
  	padding: 6px 6px 6px 32px;
  	text-decoration: none;
  	color: #b2cce5;
  	display: block;
}

.navigation a:hover {
  	color: #fff;
}

.main {
  	margin-left: 300px; /* Same as the width of the sidenav */
}

h1 {
	padding: 5px;
	margin: 5px;
    color: #233B90;
}

h2, h4 {
	padding: 5px;
	margin: 5px;
    color: #2a2a2a;
	
}

p {
	padding: 5px;
	margin: 5px;
}

table {
	padding: 5px;
	margin: 5px;
	width: 600px;
}

th {
	text-align: left;
}

.navigation ul {
	list-style-type: none;
}

.navigation li {
	margin-left: -40px;
}